h1{
    font-size: 30px;
    font-family: Courier;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}


input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 4px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#board_div{
    background: #ffce7d;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-image: -moz-linear-gradient();
}

.form_div{
    display: inline-block;
    width: 400px;
    text-align: left !important;
    padding-right: 30%;
    margin-right: 0px;
}

.score_div{
    display: inline-block;
    text-align-all: right;
    width: 300px;
    text-align: left;
    padding-right: 0%;
    float: right;
}

.primary_form{
    width: 40%;
    display: inline-block;
    text-align: center !important;
}

.custom-select {
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 100;
    color: #3b3b3b;
    height: 60px;
    line-height: 30px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
}
