{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}RPS Game{% endblock %}</title>
    <link href="{% static 'css/rps_game_styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div id="board_div">
        <h1>RPS GAME</h1>
                {% block forms_block %}
                    <div class="primary_form">
                        <h3>Enter Player's Name</h3>
                        <form id='start_game_form' method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Start">
                        </form>
                    </div>
                {% endblock forms_block %}


                <div class="score_div">
                    {% block score %}{% endblock score %}
                </div>

        {% block image  %}
            <img src="{% static 'img/rps_3.gif' %}">
        {% endblock image %}
        {% block winner_block  %} {% endblock winner_block %}
    </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

{% block javascript %}{% endblock %}
</html>