{% extends 'index.html' %}

{% load staticfiles %}

{% block page_title %} Playing {% endblock %}

{% block forms_block %}

    <div class="form_div">
        <form id='start_game_form' method="post">
            {% csrf_token %}
            <div>
                <h1>Round <span id="round_number">{{ actual_round }}</span></h1>
            </div>
            <div id="player1_name"><h2>{{ player_1 }}</h2></div>
            <div id="player2_name" style="display: none"><h2>{{ player_2 }}</h2></div>
            {{ form.player_choice }}
            <div id="player1_button">
                <input id="ok_player_1" class="game-button" type="button" value="Ok">
            </div>
            <div id="player2_button" style="display: none">
                <input id="ok_player_2" class="game-button" type="button" value="Ok">
            </div>
        </form>
    </div>
{% endblock %}

{% block score %}
    <h3>Score</h3>
    <div>Round - Winner</div>
    <div>
        <ul id="score_list">
            {% for winner in score %}
                <li> - {{ winner }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block image  %}
    <img src="{% static 'img/rps_1.gif' %}" style="width: 500px">
{% endblock image %}

{% block javascript %}
    <script>
        var game = {{ game }};
        var url_game_winner = "{% url 'game_management:winner_view' %}";
        var url = "{% url 'game_management:next_game_step' %}";
        var token = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/game_behaviour.js' %}"></script>
{% endblock %}