{% extends "index.html" %}

{% load staticfiles %}

{% block page_title %} Game Over {% endblock %}

{% block  forms_block %}{% endblock %}

{% block image  %}
    <img src="{% static 'img/rps_2.gif' %}" style="width: 50%; height: 50%!important;">
{% endblock image %}

{% block  winner_block %}
    <h1>We Have a WINNER!!</h1>
    <h1>{{ winner }} is the new EMPEROR!</h1>
    <input class="game-button" type="button" onclick="window.location='{% url 'start_game' %}'" value="Play Again">
{% endblock winner_block %}